$gradient: linear-gradient(45deg,#acd1f0,#206295); 

    
body{
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}
